# Host Config
HOST_DOMAIN=http://localhost
FRONTEND_URL=http://localhost


# Users service
USERS_DB_URL=postgresql://users_db_user:users_db_password@postgres-users:5432/users_db
USERS_DB_USER=users_db_user
USERS_DB_PASSWORD=users_db_password
USERS_DB=users_db
USERS_SECRET_KEY=your-super-secret-key-change-in-production


# Projects Service
PROJECTS_DB_USER=projects_db_user
PROJECTS_DB_PASSWORD=projects_db_password
PROJECTS_DB=projects_db
PROJECTS_DB_URL=postgresql://projects_db_user:projects_db_password@postgres-projects:5432/projects_db
PROJECTS_JWT_SECRET=jwt-secret
PROJECTS_PORT=8003
PROJECTS_SERVICE_URL=http://localhost:8003/projects/internal/v1


# MinIO Credentials
MINIO_ROOT_USER=minio_root_user
MINIO_ROOT_PASSWORD=minio_root_password
MINIO_ENDPOINT=minio:9000
MINIO_EXTERNAL_ENDPOINT=http://localhost/minio/api
MINIO_ACCESS_KEY=minio_access_key
MINIO_SECRET_KEY=minio_secret_key


# Collab Service
COLLAB_SERVICE_BIND_ADDR=0.0.0.0:8080
COLLAB_UPLOAD_DEBOUNCE_MS=2000
COLLAB_UPLOAD_MAX_SEC=30



# GitHub OAuth
GITHUB_CLIENT_ID=github_client_id
GITHUB_CLIENT_SECRET=github_client_secret
GITHUB_REDIRECT_URI=http://localhost/auth/github/callback


# Test Credentials
TEST_TOKEN=generated_jwt
