# Server Core Packages
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv

# Safe user LLM Key storage
python-jose[cryptography]
cryptography

# LLM Clients
google-genai

# Postgres Vector Storage
# Server Core Packages
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv

# Safe user LLM Key storage
python-jose[cryptography]
cryptography

# LLM Clients
google-genai